@model mvcTesting.Models.mvcTestingModel

@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is error page. Login invalid or session expired. Try after sometime.</h2>
<h3>
Thank You.
</h3>
